<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddQuestion</servlet-name>
  	<display-name>AddQuestion</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.AddQuestion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminHome</servlet-name>
  	<display-name>AdminHome</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.AdminHome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowQuestions</servlet-name>
  	<display-name>ShowQuestions</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.ShowQuestions</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateQuizForm</servlet-name>
  	<display-name>CreateQuizForm</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.CreateQuizForm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateQuiz</servlet-name>
  	<display-name>CreateQuiz</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.CreateQuiz</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllQuizzes</servlet-name>
  	<display-name>ShowAllQuizzes</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.ShowAllQuizzes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Dashboard</servlet-name>
  	<display-name>Dashboard</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.Dashboard</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Leaderboard</servlet-name>
  	<display-name>Leaderboard</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.Leaderboard</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfile</servlet-name>
  	<display-name>UpdateProfile</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserQuiz</servlet-name>
  	<display-name>UserQuiz</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.UserQuiz</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttemptQuiz</servlet-name>
  	<display-name>AttemptQuiz</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.AttemptQuiz</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Validate</servlet-name>
  	<display-name>Validate</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.Validate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteQuiz</servlet-name>
  	<display-name>DeleteQuiz</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.DeleteQuiz</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateQuiz</servlet-name>
  	<display-name>UpdateQuiz</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.UpdateQuiz</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteQuestion</servlet-name>
  	<display-name>DeleteQuestion</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.DeleteQuestion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateQuestion</servlet-name>
  	<display-name>UpdateQuestion</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.UpdateQuestion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditQuestionForm</servlet-name>
  	<display-name>EditQuestionForm</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.EditQuestionForm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditQuizForm</servlet-name>
  	<display-name>EditQuizForm</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.EditQuizForm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditQuiz</servlet-name>
  	<display-name>EditQuiz</display-name>
  	<description></description>
  	<servlet-class>com.test.controller.EditQuiz</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
</welcome-file-list>
</web-app>
